[submodule "APIs and Microservices Projects/Managing Packages with NPM"]
	path = APIs and Microservices Projects/Managing Packages with NPM
	url = https://github.com/HOuadhour/Managing-Packages-with-NPM.git
