[submodule "APIs and Microservices Projects/Managing Packages with NPM"]
	path = APIs and Microservices Projects/Managing Packages with NPM
	url = https://github.com/HOuadhour/Managing-Packages-with-NPM.git
[submodule "APIs and Microservices Projects/Basic Node and Express"]
	path = APIs and Microservices Projects/Basic Node and Express
	url = https://github.com/HOuadhour/boilerplate-express.git
[submodule "APIs and Microservices Projects/MongoDB and Mongoose"]
	path = APIs and Microservices Projects/MongoDB and Mongoose
	url = https://github.com/HOuadhour/MongoDB-and-Mongoose.git
[submodule "APIs and Microservices Projects/Projects/Timestamp Microservice"]
	path = APIs and Microservices Projects/Projects/Timestamp Microservice
	url = https://github.com/HOuadhour/Timestamp-Microservice.git
[submodule "APIs and Microservices Projects/Projects/Request Header Parser Microservice"]
	path = APIs and Microservices Projects/Projects/Request Header Parser Microservice
	url = https://github.com/HOuadhour/Request-Header-Parser-Microservice.git
[submodule "APIs and Microservices Projects/Projects/URL Shortener Microservice"]
	path = APIs and Microservices Projects/Projects/URL Shortener Microservice
	url = https://github.com/HOuadhour/URL-Shortener-Microservice.git
[submodule "APIs and Microservices Projects/Projects/Exercice Tracker"]
	path = APIs and Microservices Projects/Projects/Exercice Tracker
	url = https://github.com/HOuadhour/Exercise-Tracker.git
[submodule "APIs and Microservices Projects/Projects/File Metadata"]
	path = APIs and Microservices Projects/Projects/File Metadata
	url = https://github.com/HOuadhour/File-Metadata.git
[submodule "Quality Assurance Projects/Challenges/Quality Assurance and Testing with Chai"]
	path = Quality Assurance Projects/Challenges/Quality Assurance and Testing with Chai
	url = https://github.com/HOuadhour/Quality-Assurance-and-Testing-with-Chai.git
[submodule "Quality Assurance Projects/Challenges/Advanced Node and Express"]
	path = Quality Assurance Projects/Challenges/Advanced Node and Express
	url = https://github.com/HOuadhour/Advanced-Node-and-Express.git
[submodule "Quality Assurance Projects/Projects/Metric-Imperial Converter"]
	path = Quality Assurance Projects/Projects/Metric-Imperial Converter
	url = https://github.com/HOuadhour/Metric-Imperial-Converter.git
[submodule "Quality Assurance Projects/Projects/Issue Tracker"]
	path = Quality Assurance Projects/Projects/Issue Tracker
	url = https://github.com/HOuadhour/Issue-Tracker.git
[submodule "Quality Assurance Projects/Projects/Personal Library"]
	path = Quality Assurance Projects/Projects/Personal Library
	url = https://github.com/HOuadhour/Personal-Library.git
[submodule "Quality Assurance Projects/Projects/Sudoku Solver"]
	path = Quality Assurance Projects/Projects/Sudoku Solver
	url = https://github.com/HOuadhour/Sudoku-Solver.git
[submodule "Quality Assurance Projects/Projects/American British Translator"]
	path = Quality Assurance Projects/Projects/American British Translator
	url = https://github.com/HOuadhour/American-British-Translator.git
[submodule "Information Security Projects/Stock Price Checker"]
	path = Information Security Projects/Stock Price Checker
	url = https://github.com/HOuadhour/Stock-Price-Checker.git
[submodule "Information Security Projects/Anonymous Message Board"]
	path = Information Security Projects/Anonymous Message Board
	url = https://github.com/HOuadhour/Anonymous-Message-Board.git
[submodule "Information Security Projects/Port Scanner"]
	path = Information Security Projects/Port Scanner
	url = https://github.com/HOuadhour/Port-Scanner.git
[submodule "Information Security Projects/SHA1 Password Cracker"]
	path = Information Security Projects/SHA1 Password Cracker
	url = https://github.com/HOuadhour/SHA1-Password-Cracker.git
[submodule "Information Security Projects/Secure Realtime Multiplayer Game"]
	path = Information Security Projects/Secure Realtime Multiplayer Game
	url = git@github.com:HOuadhour/Secure-Realtime-Multiplayer-Game.git
